YAShop.ImagesClient/Service References/Images/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9011/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9011/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9011/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YAShop.ImagesHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetFoldersTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersTree" />
  </wsdl:message>
  <wsdl:message name="IService_GetFoldersTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFoldersTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IService_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFolder" />
  </wsdl:message>
  <wsdl:message name="IService_AddFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RenameFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameFolder" />
  </wsdl:message>
  <wsdl:message name="IService_RenameFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RenameImage_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameImage" />
  </wsdl:message>
  <wsdl:message name="IService_RenameImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolder" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetFoldersTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFoldersTree" message="tns:IService_GetFoldersTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFoldersTreeResponse" message="tns:IService_GetFoldersTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImages" message="tns:IService_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImagesResponse" message="tns:IService_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFolder" message="tns:IService_AddFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFolderResponse" message="tns:IService_AddFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage" message="tns:IService_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImageResponse" message="tns:IService_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RenameFolder" message="tns:IService_RenameFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RenameFolderResponse" message="tns:IService_RenameFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RenameImage" message="tns:IService_RenameImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RenameImageResponse" message="tns:IService_RenameImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteFolder" message="tns:IService_DeleteFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteFolderResponse" message="tns:IService_DeleteFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteImage" message="tns:IService_DeleteImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteImageResponse" message="tns:IService_DeleteImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFoldersTree">
      <soap:operation soapAction="http://tempuri.org/IService/GetFoldersTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFolder">
      <soap:operation soapAction="http://tempuri.org/IService/AddFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <soap:operation soapAction="http://tempuri.org/IService/RenameFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameImage">
      <soap:operation soapAction="http://tempuri.org/IService/RenameImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:9011/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>