Sprut.ImageStoreClient/Connected Services/ImageService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56937/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56937/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56937/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImagesStoreHost.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFolder" />
  </wsdl:message>
  <wsdl:message name="IService_AddFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFolder" />
  </wsdl:message>
  <wsdl:message name="IService_GetFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImagesInFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesInFolder" />
  </wsdl:message>
  <wsdl:message name="IService_GetImagesInFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesInFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFolders" />
  </wsdl:message>
  <wsdl:message name="IService_GetSubFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetImageUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUrl" />
  </wsdl:message>
  <wsdl:message name="IService_GetImageUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTmbUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTmbUrl" />
  </wsdl:message>
  <wsdl:message name="IService_GetTmbUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTmbUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddFolder" message="tns:IService_AddFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddFolderResponse" message="tns:IService_AddFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFolder" message="tns:IService_GetFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFolderResponse" message="tns:IService_GetFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImagesInFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImagesInFolder" message="tns:IService_GetImagesInFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImagesInFolderResponse" message="tns:IService_GetImagesInFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubFolders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSubFolders" message="tns:IService_GetSubFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSubFoldersResponse" message="tns:IService_GetSubFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage" message="tns:IService_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImageResponse" message="tns:IService_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetImageUrl" message="tns:IService_GetImageUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetImageUrlResponse" message="tns:IService_GetImageUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTmbUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTmbUrl" message="tns:IService_GetTmbUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTmbUrlResponse" message="tns:IService_GetTmbUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFolder">
      <soap:operation soapAction="http://tempuri.org/IService/AddFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <soap:operation soapAction="http://tempuri.org/IService/GetFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImagesInFolder">
      <soap:operation soapAction="http://tempuri.org/IService/GetImagesInFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubFolders">
      <soap:operation soapAction="http://tempuri.org/IService/GetSubFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageUrl">
      <soap:operation soapAction="http://tempuri.org/IService/GetImageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTmbUrl">
      <soap:operation soapAction="http://tempuri.org/IService/GetTmbUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:56937/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>